.div-tasks {
    display: grid;
    grid-template-rows: 150px auto;
}

.tasks_main {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 8%; /* Asegura que las columnas estén alineadas arriba */
}

.task_column {
    width: 33.33%;
    margin: 20px; /* Para que tenga altura mínima */
}

.logout-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    height: 100px;
}

.logout-button {
    background-color: #09d9e0;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    height: 50px;
}

.logout-button:hover {
    background-color: #cc0000;
}